/***  website ***/
body {
    font-size: 14px;
    background-color: #FAFAFA;
}

/***  Profile, Story, Feed ***/
/*  user profile picture border */
.box {
    width: 42px;
    height: 42px;
    border-radius: 70%;
    overflow: hidden;
}

/*  user profile picture image */
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  user story picture border  */
.box-story {
    width: 56px;
    height: 56px;
    border-radius: 70%;
    overflow: hidden;

    border: 2px solid transparent;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(#833ab4, #fd1d1d, #fcb045);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/*  user profile picture image */
.profile-story {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 70%;

    border: 2px solid transparent;
    /*border-color: white;*/
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/*  user picture border */
.feed-box {
    width: 599px;
    height: 599px;
    overflow: hidden;
    table-layout: fixed;
    display: flex;
    align-items: center;
}

/*  user picture image */
.feed-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/***  Icon ***/
/*  Material Symbols */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/***  모달 button CSS ***/
.modal-button {
    background-color: white;
    border-style: solid;
    border-color: lightgray white white white;
    height: 50px;
    padding: 2px 0 2px 0;
}


/***  모달 창 CSS ***/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


<<<<<<< HEAD
/* media query */
@charset "utf-8";
=======
 /*media query */
/*@charset "utf-8"*/
>>>>>>> 679f43b05133379727eb92b84aa22025002a2471

/* 모든 Device를 위한 공통 로드 */
/* cLayer 네비게이션 바 동적 */
.cLayer{
    /*float: left;*/
    /*padding : 1.0em;*/
}
/* 모바일 Device : 0 ~ 640 */
@media screen and (max-width: 640px){

    html{
        /*background: red;*/

    }
    .cLayer{
        /*padding: 1.0em;*/
        display: none;

    }

}

/* Tablet Device : 641 ~ 768 */
@media screen and (min-width:641px){

    html{
        /*background: green;*/

    }
    .cLayer{
        /*padding: 3.0em;*/

    }

}

/* Desktop Device : 1024 이상 */
@media screen and (min-width:1024px){

    html{
        /*background: blue;*/

    }
    .cLayer{
        /*padding: 6.0em;*/
    }

}

/* aLayer 프로필 동적 */
.aLayer{
    /*float: left;*/
    /*padding : 1.0em;*/
}
/* 모바일 Device : 0 ~ 640 */
@media screen and (max-width: 640px){

    html{
        /*background: red;*/

    }

    .aLayer {
        /*padding: 1.0em;*/
        display: none;

    }

}

/* Tablet Device : 641 ~ 768 */
@media screen and (min-width:641px){

    html{
        /*background: green;*/

    }
    .aLayer{


    }

}

/* Desktop Device : 1024 이상 */
@media screen and (min-width:1024px){

    html{
        /*background: blue;*/

    }
    .aLayer{
        /*padding: 6.0em;*/

    }

}

/* bLayer 피드 동적 */
.bLayer{
    /*float: left;*/
    /*padding : 1.0em;*/
}
/* 모바일 Device : 0 ~ 640 */
@media screen and (max-width: 640px){

    html{
        /*background: red;*/

    }

    .bLayer {
        width: 90%;
        height: 60%;
        overflow: hidden;


    }

}

/* Tablet Device : 641 ~ 768 */
@media screen and (min-width:641px){

    html{
        /*background: green;*/

    }

    .bLayer {


    }

}

/* Desktop Device : 1024 이상 */
@media screen and (min-width:1024px){

    html{
        /*background: blue;*/

    }

    .bLayer {
        /*right: 0;*/
        /*left: 0;*/
        /*margin-right: auto;*/
        /*margin-left: auto;*/
    }

}

/*@charset "utf-8";*/
/*!** 전체박스 *!*/
/*#wrap {*/
/*    width: 90%;*/
/*    margin: 0 auto;*/
/*    border: 4px solid #000;*/
/*}*/
/*!** 서브박스들 *!*/
/*#wrap div {*/
/*    display: inline-block;*/
/*    height: 100px;*/
/*}*/
/*!* 첫번째박스 *!*/
/*#wrap div:first-child {*/
/*    background: #f45750;*/
/*}*/
/*!* 두번째박스 *!*/
/*#wrap div:nth-child(2) {*/
/*    background: #40b0f9;*/
/*}*/
/*!* 세번째박스 *!*/
/*#wrap div:nth-child(3) {*/
/*    background: #00d2a5;*/
/*}*/
/*!* 네번째박스 *!*/
/*#wrap div:nth-child(4) {*/
/*    background: #ff884d;*/
/*}*/
/*!* 다섯번재박스 *!*/
/*#wrap div:last-child {*/
/*    background: #464646;*/
/*}*/
/*!* 320px 이상 *!*/
/*@media all and (min-width:320px) {*/
/*    #wrap div {*/
/*        width: 100%;*/
/*    }*/
/*}*/
/*!* 600px 이상 *!*/
/*@media all and (min-width:600px) {*/
/*    #wrap div {*/
/*        width: 50%;*/
/*    }*/
/*    #wrap div:last-child {*/
/*        width: 100%;*/
/*    }*/
/*}*/
/*!* 1024px 이상 *!*/
/*@media all and (min-width:1024px) {*/
/*    #wrap div {*/
/*        width: 20%;*/
/*    }*/
/*    !* 마지막 div 도 20%로 따로 설정해야 한다 그렇지 않으면 min-width:600px 의 조건문에 걸려 너비가 100%가 된다 *!*/
/*    #wrap div:last-child {*/
/*        width: 20%;*/
/*    }*/
/*}*/