<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--    구글 머터리얼 아이콘   -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
    <!--    jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--    css 스타일-->
        <!--    flask 경로 해석으로 불러오는 기능 url_for  -->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename ='style/selfstyle.css') }}" type="text/css">-->
    <link rel="stylesheet" href="../static/style/selfstyle.css" type="text/css">


    <title>Carstagram</title>
</head>

<body>
<!--상단 네비게이션바---------------------------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-light"
     style="position: fixed; display: flex; flex-direction: row; width: 100%; border-bottom: solid 1px #dbdbdb; background-color: #c7c7c7;z-index: 1;">
    <div class="container-fluid" style="justify-content: space-between; flex-wrap: nowrap; max-width: 940px;">
        <!--        instagram 이미지-------------------------------------------------------------------------------->
        <a class="navbar-brand" href="/"><img style="width: 100px;"
                                                      src="../static/image/Carstagram_rogo4.png">
        </a>
        <!--            검색창-------------------------------------------------------------------------------------->
        <input class="form-control me-2" style="max-width: 300px;" type="search" placeholder="검색"
               aria-label="Search">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <!--            아이콘---------------------------------------------------------------------------------->
            <a href="/"><span style="margin: 6px 12px 0 12px;"
                                      class="material-icons">home</span></a>
            <span style="margin: 0 12px 0 12px;" class="material-icons-outlined">send</span>
            <span style="margin: 0 12px 0 12px;" class="material-icons-outlined">add_box</span>
            <span style="margin: 0 12px 0 12px;" class="material-icons-outlined">explore</span>
            <span style="margin: 0 12px 0 12px;" class="material-icons-outlined">favorite_border</span>
            <div class="mini-profile" style="float: right; margin-left: 10px;">
                <a href="/user"><img class="profile" style="margin-bottom: 6px;"
                                                                src="http://kaihuastudio.com/common/img/default_profile.png"></a>
            </div>
        </div>
    </div>
</nav>
<!-- 상단 프로필 페이지-------------------------------------------------------------------------------------------------->
<div style="top: 95px; position: relative; height: 230px; max-width: 950px; width: 100%; margin: auto; display: flex; flex-direction: row;">
    <!--  --------------------      프로필 사진------------------------------------------------------------------------->
    <div style="margin-left: 90px;">
        <div class="main-profile">
            <a href=""><img class="profile"
                            src="http://kaihuastudio.com/common/img/default_profile.png"></a>
        </div>
    </div>
    <!-----------------------    프로필 정보----------------------------------------------------------------------------->
    <div style="display: flex; flex-direction: row; margin-left: 80px;">
        <div style="margin-left: 10px; color: #fafafa;">
            <h2 style="font-weight: lighter;">Car_sta</h2>
            <div style="display: flex; flex-direction: row; margin-top: 20px;">
                <div>
                    게시물 <span style="font-weight: bold">0</span>
                </div>
                <div style="margin-left: 40px;">
                    팔로워 <span style="font-weight: bold">0</span>
                </div>
                <div style="margin-left: 40px;">
                    팔로우 <span style="font-weight: bold">0</span>
                </div>
            </div>
            <div style="display: flex; margin-top: 20px; font-weight: bold;">
                김삼이일
            </div>
        </div>
        <!--    -------------     프로필 편집 세팅 버튼------------------------------------------------------------------->
        <div style="margin-left:-80px; margin-top: 5px; display: flex; flex-direction: row; ">
            <div>
                <button style="background-color: #fafafa; border: 1px solid #c7c7c7; border-radius: 3px; font-weight: bold; padding: 3px 8px 3px 8px;font-size: 14px;">
                    프로필 편집
                </button>
            </div>
            <div>
                <button style="border:none; margin-left: 10px; background: none; color: #fafafa;"><span
                        class="material-icons-outlined">settings</span></button>
            </div>
        </div>
    </div>
</div>
<!------------------------       개인 게시글 페이지---------------------------------------------------------------------->
<div style="border-top: 1px solid #c7c7c7; max-height: 1000px; height: 100%; max-width: 895px; width: 100%; margin: auto; position: relative; top: 70px;">
    <!--                 테두리 아래, 아이콘, 텍스트-------------------------------------------------------------------------->
    <div style="display: flex; flex-direction: row; justify-content: center; color: #fafafa;">
        <span class="material-icons-outlined" style="margin: 10px 0 0 20px;">grid_on</span>
        <div style="font-size: 12px; margin-top: 12px; margin-left: 5px;">
            <button style="background: none; border: none";><span style="color: #fafafa">게시물</span></button>
        </div>
        <span class="material-icons-outlined" style="margin: 10px 0 0 40px;">bookmark_border</span>
        <div style="font-size: 12px; margin-top: 12px; margin-left: 5px;">
            <button style="background: none; border: none"><span style="color: #fafafa">저장됨</span></button>
        </div>
        <span class="material-icons-outlined" style="margin: 10px 0 0 40px;">account_box</span>
        <div style="font-size: 12px; margin-top: 12px; margin-left: 5px;">
            <button style="background: none; border: none"><span style="color: #fafafa">태그됨</span></button>
        </div>
    </div>
    <!------------------     게시글---------------------------------------------------------------------------------------->
    <div class="my-posts">
        <button id="open-modal" style=" border: none; background: none;">
            <img class="profilepage-image" src="https://cdn.nbnnews.co.kr/news/photo/202111/632351_631208_3045.jpg">
        </button>
        <button id="open-modal" style=" border: none; background: none;">
            <img class="profilepage-image" src="https://cdn.nbnnews.co.kr/news/photo/202111/632351_631208_3045.jpg">
        </button>
        <button id="open-modal" style=" border: none; background: none;">
            <img class="profilepage-image" src="https://cdn.nbnnews.co.kr/news/photo/202111/632351_631208_3045.jpg">
        </button>
        <button id="open-modal" style=" border: none; background: none;">
            <img class="profilepage-image" src="https://cdn.nbnnews.co.kr/news/photo/202111/632351_631208_3045.jpg">
        </button>
    </div>
</div>

<!-----------모달 댓글창------------------------------------------------------------------------------------------------------>
<div id="modal-option" class="modal-overlay" style="">
    <div id="modal-script" class="modal_body" style="">
        <div style="display: flex; flex-direction: row;">
            <img class="modal-image" src="https://cdn.nbnnews.co.kr/news/photo/202111/632351_631208_3045.jpg">
            <div>
                <!--                댓글창 상단 내 프로필-->
                <div style="display: flex; flex-direction: row; justify-content: space-between; width: 450px; height: 55px;border-bottom: 1px solid #edebeb">
                    <div style="display: flex; flex-direction: row;">
                        <a href=""><img class="box-profile"
                                        src="https://file2.nocutnews.co.kr/newsroom/image/2021/08/12/202108121210585928_12.jpg"></a>
                        <p style="margin-left: 10px;">Kang_Jun</p>
                    </div>
                    <div>
                        <button id="" class="btn-open-popup"
                                style="border: none; background-color: white; margin-top: 5px;">
                            <span class="material-icons-outlined" style="margin-right: 15px;">more_horiz</span>
                        </button>
                    </div>
                </div>
                <!--                댓글창 상단 아래 피드설명란-->
                <div style="display: flex; flex-direction: row; justify-content: space-between; width: 450px; height: 55px;">
                    <div style="display: flex; flex-direction: row;">
                        <a href=""><img class="box-profile"
                                        src="https://file2.nocutnews.co.kr/newsroom/image/2021/08/12/202108121210585928_12.jpg"></a>
                        <p style="margin-left: 10px;">Kang_Jun</p>
                        <p style="margin-left: 5px;"><span style="font-weight: lighter; color: dodgerblue;">#스파르타 #내일배움캠프 #파이팅 #고양이</span>
                        </p>
                    </div>
                </div>
                <!--                댓글들-->
                <div style="display: flex; flex-direction: row; justify-content: space-between; width: 450px; height: 620px;">
                    <div style="display: flex; flex-direction: row;">
                        <a href=""><img class="box-profile"
                                        src="https://blog.kakaocdn.net/dn/b0ZMMh/btq4eKTyBG4/aVgQqfsq543UByfJSaK0cK/img.jpg"></a>
                        <p style="margin-left: 10px;">BoYoung</p>
                        <p style="font-weight: lighter; margin-left: 10px;">내일배움 캠퍼 모두 파이팅 !!</p>
                    </div>
                </div>
                <!--                하단 댓글창-->
                <div style="">
                    <div style="margin-top: 2%; display: flex; flex-direction: row; justify-content: space-between; border-top: 1px solid #edebeb; height: 30px;">
                        <div style="margin-left: 10px;">
                            <span class="material-icons-outlined">favorite_border</span>
                            <span class="material-icons-outlined">mode_comment</span>
                            <span class="material-icons-outlined">send</span>
                        </div>
                        <div style="margin-right: 10px;">
                            <span class="material-icons-outlined">bookmark_border</span>
                        </div>
                    </div>
                    <div style="text-align: left; margin-left: 10px; height: 30px;"><span style="font-weight: bold">kyumin1020</span>님
                        <span style="font-weight: bold">외 62,364명</span>이 좋아합니다
                    </div>
                    <div style="font-weight: lighter; font-size: 10px; text-align: left; margin-left: 10px;">1일전</div>
                    <div style="margin-top: 10px; border-top: solid 1px #dbdbdb;">
                        <input type="email" class="form-control"
                               style="box-shadow: none; border: none; border-radius: 0px;" id="exampleFormControlInput1"
                               placeholder="댓글 달기 ...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="close-modal" class="close-area">
    X
</button>
</div>
<script src="../static/scripts/selfscripts.js" rel="stylesheet" type="text/javascript"></script>
</body>
</html>